@import "./index.css";

* {
    box-sizing: border-box;
    transition: 300ms;
}

*::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 10px;
}

body {
    width: auto;
    min-width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: var(--body-background-color);
    color: var(--font-color);
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

p {
    margin: 0;
}

.hire-me {
    position: fixed;
    width: 100px;
    height: 40px;
    bottom: 30px;
    right: 30px;
    padding: 5px 12px;
    border-radius: 25px;
    background-color: var(--primary-color);
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hire-me:hover {
    background-color: var(--secondary-color);
    color: var(--body-background-color);
    width: 100px;
}

.hire-me p {
    position: absolute;
    opacity: 1;
}

.hire-me svg {
    position: absolute;
    opacity: 0;
}

@media (min-width: 900px) {
    .hire-me {
        width: 40px;
    }

    .hire-me p {
        opacity: 0;
    }

    .hire-me:hover p {
        opacity: 1;
    }

    .hire-me svg {
        opacity: 1;
    }

    .hire-me:hover svg {
        opacity: 0;
    }
}

.main-content {
    height: auto;
    min-height: calc(100vh - 40px);
    margin-top: 40px;
}