:root {
    --primary-color: #BB86FC;
    --secondary-color: #03DAC5;
    --success: #4BB543;
    --error: #ED4337;
    --warning: #FFCC00;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: #1F1B24;
        --element-background-color: #1f1b24f0;
        --font-color: #ffffff;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --font-color: #000000;
    }
}

* {
    box-sizing: border-box;
    transition: 300ms;
}

*::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 10px;
}

body {
    width: auto;
    min-width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: var(--body-background-color);
    color: var(--font-color);
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

p {
    margin: 0;
}

.hire-me {
    position: absolute;
    width: 100px;
    height: 40px;
    bottom: 30px;
    right: 30px;
    padding: 5px 12px;
    border-radius: 25px;
    background-color: var(--primary-color);
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hire-me:hover {
    background-color: var(--secondary-color);
    color: var(--body-background-color)
}